<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Education</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://scontent.fhan9-1.fna.fbcdn.net/v/t39.30808-6/302123679_1247039776050555_6591994136123480825_n.jpg?stp=dst-jpg_p526x296&_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=RxXG5FH9sK0AX-rj9hB&tn=_aM5aQIb8ir4mSr4&_nc_ht=scontent.fhan9-1.fna&oh=00_AfBx_g2Iu2kvgRt8IRiMW0GKsaq3N9LsSY0T1sXQr6bSqg&oe=63610026" alt="ảnh lóng" class="user-avatar">
              Nam Bùi
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>